# Node modules
node_modules

# npm
package-lock.json

# yarn
yarn.lock

# Adonis directory for storing tmp files
tmp

# Environment variables, never commit this file
.env

# The development sqlite file
database/*.sqlite

# Vscode debug
.vscode

#
.config
.npm
