# Node modules
node_modules
.npm

# Adonis directory for storing tmp files
tmp

# Environment variables, never commit this file
.env

# The development sqlite file
database/starttm.sqlite

# Vscode debug
.vscode

#
.config
